https://architecture.md/
https://adr.github.io/
https://mozillascience.github.io/working-open-workshop/contributing/
